<h1>UPTOP Inventory</h1>

<% @products.each do |product| %>
   <div class="product">
      <%= product.name %> <strong><%= product.quantity %></strong>
   	<%= image_tag(product.image) %>

      <div>
      	<small>
      		<%= link_to 'Show', product %>
      		<%= link_to 'Edit', edit_product_path(product) %>
      		<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      	</small>
      </div>
   </div>
<% end %>